<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Vue Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <style>
        .active {
            color: red;
        }
    </style>

</head>

<body>
    <div class="container">
        <div id="example">
            <my-component v-model="person.name"></my-component> 
            <my-component v-model="person.age"></my-component> 
            <br>{{fullName}}
            <button @click="person.name = 'dogy'">Reset</button>
        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
        Vue.component('my-component', {
            template: `<div>
                        <input v-bind:value="value" v-on:input="doEmit($event.target.value)" />
                      </div>`,
            props: {
                value: ''
            },           
            methods: {
                doEmit: function (val) {
                    this.$emit('input', val);
                }
            }
        });

        // create a root instance
        let app = new Vue({
            el: '#example',
            data: {
                person: {
                    name: "dogby",
                    age : 33
                }
            },
            computed : {
                fullName : function(){
                    return `${this.person.name}, ${this.person.age}`;
                }
            },            
            methods: {
                log: function (val) {
                    console.log('logging', val);
                }
            }

        });
    </script>

</body>

</html>